# Airflow logs (DO NOT TRACK)
airflow/logs/**
airflow/logs/*
airflow/scheduler/**
airflow/plugins/__pycache__/

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store

# IDE
.vscode/

# GCP / credentials (sesuaikan kalau mau lebih spesifik)
app/*.json

venv/

dbt_finpro/logs/**

logs/

*.json